.searchBar {
    width: 70%;
    height: 200px;
    background-color: white;
    margin: 0 auto;
}

.searchInput {
    display: flex;
    padding-top: 10px;
}
.conditionInput1 {
    flex-basis: 50%;
}

.conditionInput2 {
    flex-basis: 25%;
}
.conditionInput3 {
    flex-basis: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.label {
    display: block;
    padding-right: 0;
    margin-right: 0;
}
.datePick1 {
    height: 50px;
    width: 80%;
    margin-top: 10px;
    /* padding:0 10px; */
    box-sizing: border-box;
}
.datePick2 {
    height: 50px;
    width: 80%;
    border: 1px solid #727483;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #727483;
    padding: 0 10px;
    font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
    margin-top: 10px;
    /* padding:0 10px; */
    box-sizing: border-box;
}

.datePick3 {
    height: 50px;
    width: 100%;
    border: 1px solid #727483;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #727483;
    font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}
.datePick2::-webkit-calendar-picker-indicator,
.datePick3::-webkit-calendar-picker-indicator {
    margin-right: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.header {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.button {
    background-color: #3662d8;
    color: white;
    border-radius: 8px;
    min-width: 48px;
    width: 150px;
    height: 40px;
    border-width: 0;
    cursor: pointer;
    border-style: solid;
    margin-top: 15px;
}
.button:hover {
    background-color: rgb(70, 70, 195);
}

/* .datePick::before{
    content:"End Date";
    color:blue
} */

.disabled {
    background-color: grey !important;
    cursor: default !important;
}
