.bar {
    width: 50%;
    height: 10px;
    background-color: lightgrey;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;

    margin-top: 20px;
    margin-left: 5px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
